body {
    background-color: #EAF6F6;
}
h1, h3 {
    color: #66BFBF
}
a {
    text-decoration: none;
}
a:hover {
    background-color: aquamarine;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 7%;
}
.contact {
    text-align: center;
}
/* #contact, .address, .form {
    text-align: center;
} */